.grid-container {
    display: grid;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    background-color: green;
    padding: 10px;
}
.grid-item {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

.pos0 {
    grid-column: 1;
    grid-row: 1;
}

.pos1 {
    grid-column: 2;
    grid-row: 1;
}

.pos2 {
    grid-column: 3;
    grid-row: 1;
}

.pos3 {
    grid-column: 1;
    grid-row: 2;
}

.pos4 {
    grid-column: 2;
    grid-row: 2;
}

.pos5 {
    grid-column: 3;
    grid-row: 2;
}

.pos6 {
    grid-column: 1;
    grid-row: 3;
}

.pos7 {
    grid-column: 2;
    grid-row: 3;
}

.pos8 {
    grid-column: 3;
    grid-row: 3;
}